@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  margin: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(211, 211, 211, 0.83);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}
