@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles

// antd primary-color
@primary-blue: #464ea3;
@primary-red: #f2542d;
@primary-bg: #28231c;
@primary-bg-footer: #eae1df;

@primary-color: @primary-red;
@menu-dark-item-active-bg: @primary-red;
@layout-footer-background: @primary-bg-footer;
@layout-header-background: @primary-bg;
@link-color: @primary-blue;

.@{dialog-prefix-cls} {
  &-content {
    border-radius: 10px;
  }
  body {
    width: 100vw !important;
    // antd 모달 열릴 때마다 calc(100% - 8px) 인라인 스타일 추가되는 것 방지
  }
}

.@{layout-prefix-cls} {
  &-footer {
    color: @primary-bg;
    padding: 24px 1.25rem;
    @media (min-width: 640px) {
      padding: @layout-footer-padding;
    }
  }

  &-header {
    padding: 0 1.25rem;
    @media (min-width: 640px) {
      padding: @layout-header-padding;
    }
  }
}

.@{result-prefix-cls} {
  &-title,
  &-subtitle {
    color: @primary-bg-footer;
  }
}

@media (max-width: 449px) {
  .ant-modal-mask {
    background: white;
    min-height: 100vh;
  }

  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-content {
    border-radius: 0;
  }
  .ant-modal-close-icon {
    background: white;
    color: black;
    padding: 6px;
    border-radius: 20px;
  }

  .ant-modal {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
  }
}

.ant-modal {
  max-width: 1280px;

  @media screen and (any-pointer: fine) {
    /* width */
    ::-webkit-scrollbar {
      width: 6px;
      background: transparent;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: lightgray;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #b6b6b6;
    }
  }
}
